extends ../layout.pug
block content 
    div#videoContainer(data-id=movie.id)
        video(src="/" + movie.fileUrl) 
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.1", value=0.5, min="0" max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen 
                    i.fas.fa-expand
        
    h1=movie.title 
    p views: #{movie.meta.views}
    p Rating: #{movie.rating}
    p Release Year: #{movie.year} 
    p Description: #{movie.description}
    p Summary: #{movie.summary} 
    ul
        each genre in movie.genre
            li=genre
        else 
            li No genre found.

    a(href=`/movies/${movie.id}/edit`) Edit this movie  ➤
    br
    a(href=`/movies/${movie.id}/delete`) Delete this movie  ➤
block script 
    script(src="/output/js/videoPlayer.js")