form(method="POST")
    input(type="String", placeholder="title", name="title", required, value=movie.title)
    input(type="number", placeholder="id", name="id", required, value=movie.id)
    input(type="String", placeholder="description", name="description", required, value=movie.description)
    input(type="String", placeholder="summary", name="summary", required, value=movie.summary)
    input(type="number", placeholder="year", name="year", required, value=movie.year)
    input(type="number", placeholder="rating", name="rating", required, value=movie.rating)
    input(type="String", placeholder="genre", name="genre", required, value=movie.genre.join())
    input(type="submit", value="Edit", required)